/**************************************************************************************
CSS ADMIN
**************************************************************************************/
.labelFoto{
	height:150px; 
	width:auto; 
	cursor:pointer;
	background-position:center;
	background-image: url(/files/immagini/aggiungi-immagine.png);
	background-repeat: no-repeat;
	background-size: 150px 150px;
}

.invisibile{
	height:0.1px;
	width:0.1px; 
	opacity:0;
}