/**************************************************************************************
CSS GENERALE
**************************************************************************************/

body{
	margin-top: 20px;	
}

.centra{
	text-align: center;	
}

hr{
	border: solid 1px;
}