.panel-warnign{
	border-color:#ff6103;
}

.panel-warnign>.panel-heading{
	color:#fff;
	background-color: #ff6103;
	border-color: #ff6103;
}

.panel-default{
	border-color: #AAAAAA;
}

.panel-default>.panel-heading{
	color:#fff;
	background-color: #AAAAAA;
	border-color: #AAAAAA;
}

